
<section class="independent-title">
    <h1>Accesează serviciile Spitalului NORD Muntenia Pitești</h1>
</section>

<section>
    <div class="content-cards-grid">
        <div class="col">
            <div class="card-contact">
                <i class="card-contact__icon icon icon-ion-call"></i>
                <h3 class="card-contact__title">Programare telefonică</h3>
                <a href="tel:0248948" class="btn btn-primary"><element class="icon icon-ion-call icon-xsm"></element>0248 948</a>
            </div>
        </div>
        <div class="col">
            <div class="card-contact">
                <i class="card-contact__icon icon icon-solar-calendar-bold"></i>
                <h3 class="card-contact__title">Programare online</h3>
                <a href="#" class="btn btn-primary">Programează-te</a>
            </div>
        </div>
        <div class="col">
            <div class="card-contact">
                <i class="card-contact__icon icon icon-email-newsletter"></i>
                <h3 class="card-contact__title">Vreau să fiu informat</h3>
                <a href="#" class="btn btn-primary">Abonează-te</a>
            </div>
        </div>
    </div>
</section>