{# templates/block/block--contact-info-cards.html.twig #}

<section class="contact-info-cards-section">
  <div class="contact-info-cards__container">
    
    {# Address Card #}
    <div class="contact-info-card">
      <div class="contact-info-card__icon-wrapper">
        <span class="icon icon-location icon--xl text-danger"></span>
      </div>
      
      <div class="contact-info-card__content">
        <h3 class="contact-info-card__title">Adresa</h3>
        <p class="contact-info-card__text">
          Pitesti, Argeș, str. Pictor Nicolae Grigorescu, nr.2A, vis-a-vis de ExpoParc
        </p>
      </div>
      
      <a href="#" class="btn btn-outline-red">Vezi pe harta</a>
    </div>
    
    {# Call Center Card #}
    <div class="contact-info-card">
      <div class="contact-info-card__icon-wrapper">
        <span class="icon icon-ion-call icon--xl text-danger"></span>
      </div>
      
      <div class="contact-info-card__content">
        <h3 class="contact-info-card__title">Call center</h3>
        <div class="contact-info-card__text">
          <p class="contact-info-card__schedule">Luni - Vineri: 08:00 - 20.30</p>
          <p class="contact-info-card__schedule">Sambata: 08:00 - 14:00</p>
        </div>
      </div>
      
      <a href="tel:+40123456789" class="btn btn-outline-red">Suna acum</a>
    </div>
    
    {# Info Card #}
    <div class="contact-info-card">
      <div class="contact-info-card__icon-wrapper">
        <span class="icon icon-info icon--xl text-danger"></span>
      </div>
      
      <div class="contact-info-card__content">
        <h3 class="contact-info-card__title">Informatii si sesizari</h3>
        <p class="contact-info-card__text">
          office@muntenia.nord.ro
        </p>
      </div>
    </div>
    
  </div>
</section>