{# templates/views-view-fields--medical-articles--block-1.html.twig #}

<article class="article-card">
  <div class="article-card__media">
    {{ fields.field_image.content }}
  </div>

  {# The main body with 16px padding #}
  <div class="article-card__body">
    
    {# Top block: Text content #}
    <div class="article-card__text-content">
      <p class="article-card__date">{{ fields.created.content }}</p>
      <h3 class="article-card__title">{{ fields.title.content }}</h3>
    </div>

    {# Bottom block: Arrow #}
    <div class="article-card__arrow">
      {# This assumes you have a 'right-arrow' icon in your icon system #}
      <span class="icon icon-right-arrow icon--md text-danger"></span>
    </div>

  </div>
</article>
