
{# templates/views-view-unformatted--medical-articles--block-1.html.twig #}
{# This file creates the container that holds and scrolls the cards #}
<div class="medical-articles-section__content">

  {% for row in rows %}
    {# Each 'row' here is one complete article card rendered by the 'fields' template #}
    {{ row.content }}
  {% endfor %}
</div>