{# templates/partials/pre-footer-banner.html.twig #}
<section class="pre-footer-banner">
  <div class="container">
    <h2 class="pre-footer-banner__title">La Spitalul Nord Muntenia, grija față de pacient este prioritatea noastră</h2>

    {# THE FIX: Removed the 'btn-lg' class #}
    <a href="#" class="btn btn-danger pre-footer-banner__cta-button">Programează-te acum</a>

    <div class="pre-footer-banner__contact-bar">
      
      <a href="tel:0248948" class="pre-footer-banner__contact-item">
        <span class="icon icon-round-call icon--sm"></span>
        <span>Call center 0248 948</span>
      </a>

      <a href="mailto:call.center@munteniahospital.ro" class="pre-footer-banner__contact-item">
        {# Note: You may need to 
 add an 'envelope' icon to your icon system #}
        <span class="icon icon-material-mail icon--sm"></span>
        <span>call.center@munteniahospital.ro</span>
      </a>

      <a href="#" class="pre-footer-banner__contact-item">
        <span class="icon icon-basil-location-solid icon--sm"></span>
        <span>Pitești, str.
 Pictor Nicolae <br class="d-block d-md-none">Grigorescu, nr. 2A</span>
      </a>

    </div>
  </div>
</section>